*{
    margin: 0;
    padding: 0;
}

.head{
    font-family:'Times New Roman', Times, serif ;
    font-size: 23px;
    text-align: center;
    background-color: red;
    color: whitesmoke;
    position: relative;
}
.body{
    background-color: white;
}
.description_block{
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 25px;
    position: absolute;
    top: 18%;
    left: 756px;
    transform: translate(-50%, -50%);
    width: 613px;
    height: 120px;
    background: white;
}
.img{
    margin: 0px auto;
    padding: 15px;
    max-width: 600px;
    
}
.bottom_second{
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 18px;
    margin-top: 50px;
}

.rights{
    text-align: center;
    background-color: black;
    color: white;
}
.list{
    margin: 25px;
}
.text_list{
    margin: 5px ;
}
