*{
    margin: 0;
    padding: 0;
}

.Head{
    font-family:'Times New Roman', Times, serif ;
    font-size: 23px;
    text-align: center;
    background-color: red;
    color: whitesmoke;
    position: relative;
}
.BackBody{
    background-color: white;
}
.main{
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: 25px;
}
.Img{
    text-align: center;
    padding: 15px;
    
}
.bottomsecond{
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 23px;
}

.Rights{
    text-align: center;
    background-color: black;
    color: white;
}
.List{
    margin: 25px;
}
.text{
    margin: 5px;
}